// Colores
$blanco: #ffffff;
$negro: #000000;
$gris-claro: #ccc;
$gris-oscuro: #262626;

// Tamaños
$font-base: 1rem;
$font-parrafo: 20px;
$border-radius: 4px;

// Fondos
$fondo-index: "/repo-coder/imagenes/fondo-index.jpg";

// Transiciones
$transition-base: 0.3s;
